
<div>
    <h2 style="text-align: center;"> Welcome to ToDo list frontend app!</h2>
    <div style="display: flex; flex-direction: row; margin-top: 40px; justify-content: center;">
        <input type="text" [(ngModel)]="itemName" placeholder="Enter item name" style="width: 250px;"/>
        <input type="text" [(ngModel)]="itemTime" style="width: 250px; margin-left: 10px;" placeholder="Enter item time(HH:MM AM/PM)"/>
        <button (click)="onClickAddItem()" style="margin-left: 20px;">ADD</button>
    </div>
    <p *ngIf="errorMessage" style="margin: 10px; text-align: center; color: #ff0000">{{errorMessage}}</p>
    <div style="height: 1px; background: #cfcfcf; margin: 20px auto;"></div>
    <div *ngIf="itemList && itemList.length>0">
      <div *ngFor="let item of itemList; index as idx;">
          <div [ngClass]="{'item-even': idx%2==0, 'item-odd': idx%2==1}">
            <button (click)="onClickDeleteItem(idx)" style="float:right;">X</button>
            <p>{{item.name}} @ {{item.time}}</p>
          </div>
      </div>
    </div>
    <div *ngIf="!itemList || itemList.length==0">
      <p style="text-align: center; color: #ff0000">No items found!</p>
    </div>
</div>
<!-- For this simple ToDo list app, let's not use different component.. -->
<router-outlet></router-outlet>
